body{
    background-color: #F5DF99;
    height: 30%;
    margin: 0;
}

/*Background*/
.backg{
    background-image: linear-gradient(to bottom, #ffffff00 , #f5e099),
    url('avocado-watermelon.jpg');
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

h1, h6{
    text-align: center;
    font-family: georgia;
}
.salad{
    background-color: #0e493644;
    color: white;
    border: none;
    text-align: center;
    margin: 0;
    padding: 5px;
    backdrop-filter: blur(20px);
}

/*
.melon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    width: auto;
    border-radius: 20px;
    border-style: dotted;
    color: white;
}*/

.desc{
    margin-top: 250px;
    text-align: center;
    background-color: #5FD06844;
    color: white;
    border-bottom: dotted;
    border-top: dotted;
    backdrop-filter: blur(20px);
}
/*needs to resize for mobile format*/
.description{
    font-size: medium;
    background-color: #4B867388;
    color: white;
    border: none;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    backdrop-filter: blur(20px);
}

.ing{
    text-align: justify;
    font-size: medium;
    background-color: #F5DF99;
    color: #4B8673;
    border-style: dotted;
    border-radius: 25px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 800px;
}
.dir{
    text-align: justify;
    font-size: medium;
    background-color: #F5DF99;
    color: #4B8673;
    border-style: dotted;
    border-radius: 25px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 800px;
}


@media  (max-width: 600px) {

    .description{
        font-size: medium;
        background-color: #4B8673;
        color: white;
        border: none;
        border-radius: 25px;
        width: 420px;
    }
    
    .ing{
        font-size: medium;
        background-color: #F5DF99;
        color: #4B8673;
        border-style: dotted;
        border-radius: 25px;
        display: block;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 420px;
    }
    .dir{
        font-size: medium;
        background-color: #F5DF99;
        color: #4B8673;
        border-style: dotted;
        border-radius: 25px;
        display: block;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 420px;
    }
    
} /*media end*/

.home{
    border: none;
    background-color: #5FD068;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.head{
    border: none;
    background-color: #5FD068;
    border-radius: 10px;
    display: block;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
