
body{
    background-color: #F5DF99;
}
.logo{
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
h1, h6{
    text-align: center;
    font-family: georgia;
    font-style: oblique;
}

h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


/*First button*/
.water{
    display: block;
    border: none;
    border-radius: 10%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.wtrmln{
    height: 120px;
    width: 125px;
    border-radius: 10%;

    
}
/*End of first button*/

/*Second button*/
.second{
    display: block;
    border: none;
    border-radius: 10%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.tuna{
    height: 120px;
    width: 125px;
    border-radius: 10%;
    
   
}
/*End of second button*/

/*Third button*/
.third{
    display: block;
    border: none;
    border-radius: 10%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.strawberry{
    height: 120px;
    width: 125px;
    border-radius: 10%;
    
    
}
/*End of Third button*/

