
body, html{
    background-color: #F5DF99;
    height: 100%;
    margin: 0;
}
.logo{ /*logo*/
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.odin{ /*logo settings*/
    background-color: #0e4936;
    color: white;
    border: none;
    display: block;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
}
h1, h6{/*odin rec and name*/
    
    text-align: center;
    font-family: georgia;
    font-style: oblique;
    
}

h3{ /*best of odin*/
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name-best{
    background-color: #cccccc44;
    color: #0e4936;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    padding: 1px;
    margin-top: 5px;
}

.wtrmln, .tuna, 
.strawberry{
    height: 120px;
    width: 125px;
    border-radius: 10%;
}

/*Display image background*/
.backg{
    background-image: linear-gradient(to bottom, #ffffff00 , #f5e099),
    url('Korean-Food-Cover.webp');
    height: 50%;
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 550px;
    background-position: center;
    background-size: cover;
    position: relative;
}


/*display buttons horizontally*/
.top{
    display: flex;
    justify-content: space-evenly;
}
.top button{
    background: #0e493644;
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
   /** flex: 1 1 0%;**/
    
}

/*Contact info settings*/
.tweet .twttr{
    height: 40px;
    width: 40px;
    margin-top: 45px;
    margin-left: 10px;
    
}
/*Flex contact infos*/
.cont{
    background-color: #4B867399;
    margin: 0;
    display: flex;
    height: 100px;
    margin-top: 270px;
}
.cont div{
    border: none;
    background: none;
    flex: auto;
}

/*mobile view*/
@media  (max-width: 600px) {
    .backg{
        background-image: linear-gradient(to bottom, #ffffff00 , #f5e099),
        url('Korean-Food-Cover.webp');
        background-repeat: no-repeat;
        background-color: #cccccc;
        height: 410px;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    /**contact info mobile vIew**/
    .tweet .twttr{
        background-color: ;
        height: 40px;
        width: 40px;
        margin-top: 20px;
    }
    /*Flex contact infos*/
    .cont{
        background-color: #4B867399;
        display: flex;
        margin-top: 430px;
    }
    .cont div{
        border: none;
        background: none;
        flex: auto;
    }
}





